<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title>het is verrukkuluk! :: [TITEL] </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <style type="text/css" title="currentStyle">
    @import "assets/bootstrap/css/bootstrap-responsive.min.css";
    @import "assets/bootstrap/css/bootstrap.min.css";
    @import "assets/css/verrukkuluk-main.css";
  </style>

  <script type="text/javascript" language="javascript" src="assets/jquery/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="assets/js/page.default.js"></script>


  <!-- JQuery -->
  <script type="text/javascript">
    $(document).ready(function() {


      /*


      Hier komen straks een aantal jQuery routines


      */


    });
  </script>

</head>

<body>


  <div class="top-bar">

    <div class="logo" onclick="window.location.href='http://localhost:8888/verukkuluk/index.php'"></div>


    <form class="form-inline" method="post" action="index.php">
      <input class="form-control mr-sm-2" type="text" name="search" />
      <button class="btn btn-primary my-2 my-sm-0" type="submit" name="search_database">
        Search
      </button><button class="btn btn-primary my-2 my-sm-0" type="submit" name="grocery_list">
        Grocery List
      </button>

    </form>
  </div>


  <div class="title-bar">

  </div>

  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="row" style="margin-top: 180px !important"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <!--
                    Hier komt de content!
                -->
    [CONTENT]

  </div>


</body>

</html>
