<div class="container-fluid" style="background-color:white;">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Grocery List
			</h3>
			<form method="post" action="index.php">
				<input type="submit" class="btn btn-primary" name="delete" value="delete Grocery List" />
			</form>

			<table class="table table-sm">

				<tr>
					<th>PRODUCT NAME</th>
					<th>PRODUCT AMOUNT</th>
					<th>PRICE</th>
					<th>TOTAL PRICE</th>
				</tr>


				[CONTENT]


				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>€[TOTALPRICE]</td>
				</tr>
			</table>
		</div>
	</div>
</div>
